<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.webmaster.mapper.MobileAreaMapper">

    <resultMap id="BaseResultMap" type="com.cz.webmaster.entity.MobileArea">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="mobileNumber" jdbcType="VARCHAR" property="mobileNumber"/>
        <result column="mobileArea" jdbcType="VARCHAR" property="mobileArea"/>
        <result column="mobileType" jdbcType="VARCHAR" property="mobileType"/>
        <result column="areaCode" jdbcType="VARCHAR" property="areaCode"/>
        <result column="postCode" jdbcType="VARCHAR" property="postCode"/>
        <result column="provinceCode" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="createId" jdbcType="BIGINT" property="createId"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="updateId" jdbcType="BIGINT" property="updateId"/>
        <result column="isDelete" jdbcType="TINYINT" property="isDelete"/>
        <result column="extend1" jdbcType="VARCHAR" property="extend1"/>
        <result column="extend2" jdbcType="VARCHAR" property="extend2"/>
        <result column="extend3" jdbcType="VARCHAR" property="extend3"/>
        <result column="extend4" jdbcType="VARCHAR" property="extend4"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        mobile_number as mobileNumber,
        mobile_area as mobileArea,
        mobile_type as mobileType,
        area_code as areaCode,
        post_code as postCode,
        province_code as provinceCode,
        created,
        create_id as createId,
        updated,
        update_id as updateId,
        is_delete as isDelete,
        extend1,
        extend2,
        extend3,
        extend4
    </sql>

    <sql id="Search_Condition">
        <if test="keyword != null and keyword != ''">
            and (
                mobile_number like concat('%', #{keyword}, '%')
                or mobile_area like concat('%', #{keyword}, '%')
                or mobile_type like concat('%', #{keyword}, '%')
                or province_code like concat('%', #{keyword}, '%')
                or post_code like concat('%', #{keyword}, '%')
            )
        </if>
    </sql>

    <select id="findListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mobile_area
        where is_delete = 0
        <include refid="Search_Condition"/>
        order by id desc
        limit #{offset}, #{limit}
    </select>

    <select id="countByKeyword" resultType="java.lang.Long">
        select count(1)
        from mobile_area
        where is_delete = 0
        <include refid="Search_Condition"/>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mobile_area
        where id = #{id}
        and is_delete = 0
    </select>

    <select id="findByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mobile_area
        where is_delete = 0
        and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="allProvinces" resultType="java.util.Map">
        select
            substring_index(mobile_area, ' ', 1) as id,
            substring_index(mobile_area, ' ', 1) as areaname,
            substring_index(mobile_area, ' ', 1) as provName
        from mobile_area
        where is_delete = 0
        and mobile_area is not null
        and mobile_area != ''
        group by substring_index(mobile_area, ' ', 1)
        order by substring_index(mobile_area, ' ', 1) asc
    </select>

    <select id="allCities" resultType="java.util.Map">
        select
            mobile_area as id,
            case
                when locate(' ', mobile_area) > 0 then substring_index(mobile_area, ' ', -1)
                else mobile_area
            end as areaname,
            case
                when locate(' ', mobile_area) > 0 then substring_index(mobile_area, ' ', -1)
                else mobile_area
            end as cityName,
            mobile_area as mobileArea,
            min(area_code) as areaCode,
            min(post_code) as postCode,
            min(province_code) as provinceCode
        from mobile_area
        where is_delete = 0
        and substring_index(mobile_area, ' ', 1) = #{provinceCode}
        group by mobile_area
        order by mobile_area asc
    </select>

    <select id="findCitySample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mobile_area
        where is_delete = 0
        and substring_index(mobile_area, ' ', 1) = #{provinceCode}
        and mobile_area = #{mobileArea}
        order by id asc
        limit 1
    </select>

    <insert id="insertSelective" parameterType="com.cz.webmaster.entity.MobileArea">
        insert into mobile_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mobileNumber != null">mobile_number,</if>
            <if test="mobileArea != null">mobile_area,</if>
            <if test="mobileType != null">mobile_type,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="postCode != null">post_code,</if>
            <if test="provinceCode != null">province_code,</if>
            <if test="created != null">created,</if>
            <if test="createId != null">create_id,</if>
            <if test="updated != null">updated,</if>
            <if test="updateId != null">update_id,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="extend1 != null">extend1,</if>
            <if test="extend2 != null">extend2,</if>
            <if test="extend3 != null">extend3,</if>
            <if test="extend4 != null">extend4,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mobileNumber != null">#{mobileNumber},</if>
            <if test="mobileArea != null">#{mobileArea},</if>
            <if test="mobileType != null">#{mobileType},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="postCode != null">#{postCode},</if>
            <if test="provinceCode != null">#{provinceCode},</if>
            <if test="created != null">#{created},</if>
            <if test="createId != null">#{createId},</if>
            <if test="updated != null">#{updated},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="extend1 != null">#{extend1},</if>
            <if test="extend2 != null">#{extend2},</if>
            <if test="extend3 != null">#{extend3},</if>
            <if test="extend4 != null">#{extend4},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.cz.webmaster.entity.MobileArea">
        update mobile_area
        <set>
            <if test="mobileNumber != null">mobile_number = #{mobileNumber},</if>
            <if test="mobileArea != null">mobile_area = #{mobileArea},</if>
            <if test="mobileType != null">mobile_type = #{mobileType},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="postCode != null">post_code = #{postCode},</if>
            <if test="provinceCode != null">province_code = #{provinceCode},</if>
            <if test="updated != null">updated = #{updated},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="extend1 != null">extend1 = #{extend1},</if>
            <if test="extend2 != null">extend2 = #{extend2},</if>
            <if test="extend3 != null">extend3 = #{extend3},</if>
            <if test="extend4 != null">extend4 = #{extend4},</if>
        </set>
        where id = #{id}
        and is_delete = 0
    </update>

    <update id="deleteBatch">
        update mobile_area
        set is_delete = 1,
            updated = #{updated},
            update_id = #{updateId}
        where is_delete = 0
        and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
